@forward 'abstracts/variables';

.about_intro {
    margin: 5rem 0 10rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    picture {
        z-index: 1;
        img {
            max-width: none;
            z-index: 1;
            height: 60vh;
            width: auto;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.199);
            border-right: $text-color 10px solid;
        }
    }

    section.about {
        max-width: none;
        margin: 0;
        padding: 0;
        transform: translate(0);
        position: relative;

        h1.about__title {
            font-weight: 600;
            text-decoration: underline 4px $accentuate-color;
            font-size: $font-size-h1;
            margin: 0;
            margin-bottom: 3rem;
            padding: 0;
        }
        .about__description {
            font-size: $font-size-p;
            font-weight: 300;
            max-width: 20vw;
            margin: 0;
            padding: 0;
        }
    }
}

section.competence {
    margin: 0;
    padding: 0;
    transform: translate(0);
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;

    h2 {
        text-align: center;
        text-decoration: underline 4px $accentuate-color;
        font-size: $font-size-h2;
        margin: 0;
        padding: 1rem;
    }
    .container_competence {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5rem;
        background: linear-gradient(to bottom right, $nav-button-color, $secondary-color);
        border-radius: 2rem;
        padding: 2rem 0;
        background-clip: padding-box;
        border: solid 1px transparent;
        box-sizing: border-box;
        h3 {
            line-height: $font-size-h1;
            text-decoration: underline 4px $accentuate-color;
            font-size: $font-size-h3 + 10px;
            margin: 3rem;
            padding: 0;
        }
        img {
            max-width: 40vh;
            height: 20vh;
        }
    }
}

.container_competence::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    margin: -2px;
    border-radius: 2rem;
}
