@forward 'abstracts/variables';

.div_insta {
    width: 100%;
    > a {
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        max-width: max-content;
    }
}

.div_twitter {
    margin: 3% 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.div_git {
    width: 100%;
    > a {
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
    }
}
h2.about__title {
    text-decoration: underline 4px $accentuate-color;
    text-align: center;
    margin-top: 15vh;
    font-size: $font-size;
}

section.about {
    display: flex;
    width: 60vw;
    height: auto;
    max-width: none;
    padding: 1rem;
    flex-direction: row;
    img {
        height: 50vh;
        width: auto;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.199);
        border-right: $text-color 10px solid;
    }
}

p {
    text-align: center;
    max-width: 70vw;
}

li {
    font-family: "Nunito", sans-serif;
    margin-top: 5%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;

    img {
        margin-right: 2rem;
        border-radius: 50%;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: start;
        white-space: nowrap;
        text-decoration: underline;
        color: $accentuate-color;
    }
}

p {
    margin-left: 1rem;
}

.svg_logo {
    max-width: 60px;
}
