@forward 'abstracts/variables';

@media screen and (max-width: 700px) {
    * {
        cursor: default;
    }

    .cursor {
        display: none;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .div-nav {
        display: none;
        a {
            flex-basis: 0;
            width: 100%;
            display: block;
            button {
                outline: 0;
                color: $bg-color;
                background-color: #313153;
                width: 80%;
                margin: 1rem;
            }
        }
    }

    nav {
        .hamburger {
            display: block;
        }

        h1 {
            margin: 0;
        }
    }

    .unhide {
        background: #313153;
        z-index: 3;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 109px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        animation: move 1s ease;
        text-align: center;
    }

    @keyframes move {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    .projet {
        grid-template-columns: repeat(1, auto) !important;
    }

    .card {
        margin: 2rem 10% !important;
    }

    section {
        transform: translate(0);
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        padding: 0;
        margin-bottom: 2rem;

        img {
            max-width: none;
            height: auto;
            margin-bottom: 1rem;
        }
    }
    div > img:not(.projet img) {
        max-width: 30px;
        height: auto;
    }
    .titre_about {
        line-height: 30px;
        margin: auto 0 2rem 0;
    }
    .action-button {
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
    }

    .home-container {
        padding-top: 6rem;
        h1 {
            font-size: $font-size-h1 - 20px;
        }
        h3 {
            font-size: $font-size-h3 - 10px;
        }
    }

    .arrow-right {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $accentuate-color;
    }

    button.projet {
        font-size: $font-size-p - 10px;
    }

    main {
        display: block;
    }

    .contact__links {
        margin-left: 10px;
    }

    h2.contact__title {
        width: 100%;
        font-size: $font-size-h2 - 10px;
        white-space: nowrap;
    }

    #title {
        font-size: $font-size-h1 - 10px;
    }

    .about_intro {
        flex-direction: column;
        width: 100%;
        margin: 1rem 0px 0 10px;
        picture {
            width: 100%;
            margin-left: 10px;
            margin-bottom: 1rem;
        }
        section.about {
            width: 100%;
            h2.about__title {
                font-size: $font-size-h2 - 10px;
            }

            p.about__description {
                max-width: none;
                font-size: $font-size-p;
            }
        }
    }

    section.competence {
        h3 {
            font-size: $font-size-h3 - 10px;
        }
        .wrapper .container_competence {
            margin: 0 10px 1rem 10px;
            padding: 10px;
            img {
                max-width: 4rem;
                max-height: 4rem;
                height: auto;
            }

            p {
                font-size: $font-size-p - 10px;
            }
        }
    }
}
