@mixin shadow($xOffset: $x-offset, $yOffset: $y-offset, $color: #000) {
	box-shadow: $xOffset $yOffset 0px $color;
}

@mixin breakpoint($size: 700px) {
	@media screen and (max-width: $size) {
		@content;
	}
}

@mixin variant-h3 {
	font-family: "Anek";
	font-style: normal;
	font-weight: 500;
	font-size: clamp(1rem, 3vw, 20px);
	line-height: 94%;
}