@mixin shadow {
	box-shadow: 4px 7px 0px #000000;
}

@mixin breakpoint($size: 700px) {
	@media screen and (max-width: $size) {
		@content;
	}
}

@mixin variant-h3 {
	font-family: "Anek";
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 94%;
}
