$orange: #f6c86c;
$blue: #71d4ff;
$fluo-pink: #ff7af2;
$lighter-green: #b7fbac;
$dark-purple: #9686fd;
$light-purple: #c6bdff;
$light-green: #9aedc0;
$pink: #ebadf5;
$light-dark: #111111;
$dark-pink: #f9669a;
