.div_insta {
    width: 100%;
}

.div_insta>a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    max-width: max-content;
}

.div_twitter {
    margin: 3% 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.div_git {
    width: 100%;
}

.div_git>a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

section {
    width: auto;
}

li {
    font-family: 'Nunito', sans-serif;
    margin-top: 5%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
}

li img {
    margin-right: 2rem;
    border-radius: 50%;
}

li a {
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    text-decoration: underline;
    color: var(--accentuate-color);
    ;
}

p {
    margin-left: 1rem;
}

div img {
    max-width: 60px;
}