@media screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    .div-nav {
        display: none;
    }
    .div-nav a {
        flex-basis: 0;
        width: 100%;
        display: block;
    }
    .div-nav a button {
        width: 80%;
        margin-bottom: 1rem;
    }
    nav {
        height: 10vh;
    }
    .unhide {
        background: #313153;
        z-index: 2;
        height: 100%;
        width: max-content;
        position: absolute;
        top: 10vh;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        z-index: 2 !important;
        animation: move 1s ease;
    }
    @keyframes move {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    .marquee {
        display: none;
    }
    section {
        z-index: -1 !important;
    }
    a .card {
        width: 90vw;
    }

    .li-about{
        flex-direction: column;
        border-bottom: 1px solid var(--accentuate-color);
        padding: 1.5rem 0;
    }
    .li-about:last-child{
        border-bottom: none;
    }
}