@media screen and (max-width: 700px) {
    html, body {
        overflow-x: hidden;
    }
    .hamburger {
        display: block;
    }
    .div-nav {
        display: none;
        overflow-x: hidden;
    }
    .div-nav a {
        flex-basis: 0;
        width: 100%;
        display: block;
    }
    .div-nav a button {
        width: 80%;
        margin: 1rem;
    }
    nav h1 {
        margin: 0;
    }
    .unhide {
        background: #313153;
        z-index: 2;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 109px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        z-index: 2 !important;
        animation: move 1s ease;
        text-align: center;
    }
    @keyframes move {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    .marquee {
        display: none;
    }
    .li-about {
        flex-direction: column;
        border-bottom: 1px solid var(--accentuate-color);
        padding: 1.5rem 0;
    }
    .li-about:last-child {
        border-bottom: none;
    }
    .projet {
        grid-template-columns: repeat(1, auto) !important;
    }
    .card {
        margin: 2rem 10% !important;
    }
    nav {
        overflow-x: hidden;
    }
}