.card {
	$top-height: 50px;
	background: $blue;
	@include shadow;
	border: 3px solid #000;
	box-shadow: 4px 7px 0px #000000;
	position: relative;
	flex-grow: 1;
	flex-basis: 15vw;
	flex-shrink: 1;
	aspect-ratio: 1;
	max-width: 15vw;

	&--top {
		&::after {
			content: attr(data-title);
			position: absolute;
			top: -$top-height;
			left: -3px;
			right: -3px;

			display: flex;
			justify-content: center;
			align-items: center;

			@include variant-h3;
			line-height: inherit;
			height: $top-height;
			background: $pink;
			border: 3px solid #000;
			box-shadow: 4px 7px 0px #000000;
			z-index: -1;
		}
	}
}
