div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
input{
    width: 200px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    padding: 3px;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 40px;
    outline: none;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left bottom, #606060, #575757, #4e4e4e, #454545, #3d3d3d);
}

#ok{
    background-color: forestgreen;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    display: table;
}

.validation{ 
    text-align: center;
    color: white;
}

label{
    color:#9C9EA1;
    font-weight: bolder;
    margin-bottom: 20px;
}

html{
    min-height: 100%;
}