@forward "abstracts/variables";

main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url("../ressources/bg-home.jpg");
    transition: all 50ms ease-out;
    perspective: 1000px;
}

.action-button {
    margin-top: 1rem;
    position: relative;
    height: min-content;
    display: flex;
    justify-content: left;
}

button.projet {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-p;
    padding: 0.5rem;
    background-color: $text-color;
    border: none;
    box-shadow: 0px 20px 20px rgba(44, 44, 44, 0.24);
    transition: all 500ms ease;
    width: auto;
    transform-style: preserve-3d;

    p {
        transition: all 500ms ease-out;
    }
}

.arrow-right {
    transition: all 500ms ease-out;
    margin-left: 2rem;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid $accentuate-color;
}

.bubble {
    z-index: 5;
    display: none;
    width: 1px;
    height: 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #757575;
    transition: all 10s ease-in-out;
    transform-origin: center;
}

.home-container {
    color: rgb(255, 255, 255);
    position: relative;
    h1 {
        font-size: $font-size-h1;
        line-height: 3rem;
        margin-bottom: 1rem;
        .bold {
            position: relative;
            color: $text-color;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: #4059ad;
                animation: portfolio 1s ease-in-out forwards 0.5s;
            }
        }
    }
    h1,
    h3 {
        text-align: left;
    }
    h3 {
        margin-bottom: 3rem;
        color: $bg-color;
        font-weight: 100;
        font-size: $font-size-h3;
    }
}

@keyframes portfolio {
    50% {
        width: 100%;
    }
    100% {
        right: 0px;
        left: auto;
        width: 0px;
    }
}
