@forward 'abstracts/variables';

@media screen and (max-width: 700px) {
    * {
        cursor: default;
    }

    .cursor {
        display: none;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .div-nav {
        transform: translate(100%);
        background: #313153;
        z-index: 3;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 10vh;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        transition: transform 500ms ease-out;
        &.show_nav {
            transform: translate(0);
            transition: transform 500ms ease-in;
        }
        a {
            flex-basis: 0;
            width: 100%;
            display: block;
            button {
                outline: 0;
                color: $bg-color;
                background-color: #313153;
                width: 80%;
                margin: 1rem;

                &:hover {
                    background-size: 100% 0.4rem;
                }
            }
        }
    }

    nav {
        justify-content: space-around;
        .hamburger {
            display: block;
        }

        h1 {
            margin: 0;
        }
    }

    .projet {
        grid-template-columns: repeat(1, auto) !important;
    }

    .card {
        margin: 2rem 10% !important;
    }

    section {
        transform: translate(0);
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        padding: 0;
        margin-bottom: 2rem;

        img {
            max-width: none;
            height: auto;
            margin-bottom: 1rem;
        }
    }
    div > img:not(.projet img) {
        max-width: 30px;
        height: auto;
    }
    .titre_about {
        line-height: 30px;
        margin: auto 0 2rem 0;
    }
    .action-button {
        width: 100%;
        justify-content: left;
    }

    .home-container {
        padding-top: 6rem;
        margin: 0 10vw;
        width: auto;
        h1 {
            text-align: left;
            font-size: $font-size-h1 - 20px;
        }
        h3 {
            text-align: left;
            font-size: $font-size-h3 - 10px;
        }
    }

    .arrow-right {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $accentuate-color;
    }

    button.projet {
        font-size: 18px;
    }

    main {
        display: block;
    }

    .contact__links {
        margin-left: 10px;
    }

    h2.contact__title {
        width: 100%;
        font-size: $font-size-h2 - 10px;
        white-space: nowrap;
    }

    #title {
        font-size: $font-size-h1 - 10px;
    }

    .about_intro {
        flex-direction: column;
        width: 100%;
        margin: 0;
        picture {
            margin-bottom: 1rem;
            margin: 10vh 10vw;

            img {
                margin: 0;
            }
        }
        section.about {
            margin: 0 10vw;
            h2.about__title {
                font-size: $font-size-h2 - 10px;
            }

            p.about__description {
                max-width: none;
                font-size: $font-size-p;
            }
        }
    }

    section.competence {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;
        padding-bottom: 10vh;

        .wrapper {
            width: 100%;
            .container_competence {
                img {
                    max-height: 10vh;
                    height: auto;
                }

                p {
                    font-size: $font-size-p - 5px;
                }
            }
        }

        h3 {
            font-size: $font-size-h3 - 10px;
        }
    }
    a.container_article {
        flex-direction: column;
    }

    .tuto_contenu {
        font-size: 16px;
    }

    .tuto_contenu .question {
        flex-direction: column;
        max-width: none;
        margin: 2rem 0;
        padding: 1rem;

        .question-img {
            img {
                margin: 0.5rem 0 2rem 0;
            }
        }
    }

    .h2__appris {
        text-align: left;
        padding: 0;
        margin: 5vh 10vw 2vh;
    }
}

@media screen and (max-width: 1300px) {
    #title,
    nav h1 {
        font-size: 55px;
    }

    .div-nav button {
        font-size: 16px;
        letter-spacing: 0.1rem;
    }

    .home-container {
        margin: 0 10vw;
        width: auto;
    }

    section.competence {
        padding: 1rem;
        justify-content: center;
    }

    .wrapper {
        flex-basis: 46%;
        flex-grow: 0;
    }
}
