@forward 'abstracts/variables';

.card {
    padding: 1rem;
    margin: 2rem 3rem;
    background-color: $dark-bg;
    border-radius: 10px;
    box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.342);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $bg-color;

    img {
        width: 100%;
        margin-bottom: 3rem;
        max-width: 340px;
        max-height: 340px;
    }
    &:hover {
        transform: scale(1.05);
    }
    .description {
        padding: 1rem;
    }
    .mark {
        color: green;
    }
}

a {
    text-decoration: none;
    display: contents;
}

.projet {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.explication {
    margin-left: 50%;
    transform: translateX(-50%);
}

.h3_projets {
    width: 100%;
    text-align: center;
    font-size: $font-size-h3;
    margin: 1rem;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.h3--petit {
    font-size: $font-size-h3 - 5px;
    margin-bottom: 1rem;
}
