@forward 'abstracts/variables';
@import "componenents/card_style";

.container_article {
    display: block;
    @include container-card(space-between);
    margin: 10vh 10vw;
    padding: auto 10vw;
    h3 {
        font-size: $font-size-h3;
        margin: auto 5vw;
        margin-bottom: $font-size-h3;

        margin-top: 2rem;
    }
    h2 {
        font-size: $font-size-h2;
        margin: auto 5vw;
        margin-bottom: $font-size-h2;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
        }
    }
    p {
        font-size: $font-size-p;
        margin-bottom: $font-size-p;
        margin: auto 10vw;
    }
}

.tuto_contenu {
    height: 100%;
    margin: 2rem 10vw;
    white-space: pre-wrap;
    img {
        max-width: 100%;
    }
    span.code {
        background: rgba(98, 98, 98, 0.514);
        padding: 0.3rem;
        color: white;
        border-radius: 30px;
    }
    p {
        line-height: 1.8rem;
    }
    h1 {
        margin: 1rem 0;
    }

    .question {
        display: flex;
        align-items: center;
        background-color: rgb(97, 97, 251);
        padding: 3rem;
        margin: 2rem;
        max-width: 50vw;
        .question-img {
            display: contents;
            img {
                min-width: 50px;
                width: 20vw;
                max-width: 80px;
                margin-right: 3rem;
            }
        }
        p {
            font-weight: bold;
        }
    }
}
