@forward 'abstracts/variables';

.container_article {
    display: block;
    margin: 10vh 10vw;
    padding: 1rem;
    background-color: $dark-bg;
    color: $bg-color;
    box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.342);

    h3 {
        font-size: $font-size-h3;

        margin-top: 0;
    }
    h2 {
        font-size: $font-size-h2;
        margin: 0 0 2rem 0;
        margin-bottom: $font-size-h2;
    }
    p {
        font-size: $font-size-p;
        margin: 0 0 1rem 0;
    }
}

.tuto_contenu {
    margin: 2rem 10vw;
    white-space: pre-wrap;
    position: relative;
    img,
    video {
        max-width: 100%;
        min-width: 100%;

        &.clicked-img {
            position: fixed;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 3;
        }
    }

    span.code {
        background: rgba(46, 46, 46, 0.616);
        padding: 0.2rem;
        color: white;
        border-radius: 4px;
    }
    p {
        line-height: 1.8rem;
    }
    h1 {
        margin: 1rem 0;
    }

    .question {
        display: flex;
        align-items: center;
        background-color: rgb(97, 97, 251);
        padding: 3rem;
        margin: 2rem;
        max-width: 50vw;
        .question-img {
            display: contents;
            img {
                min-width: 50px;
                width: 20vw;
                max-width: 80px;
                margin-right: 3rem;
            }
        }
    }
}

#exit {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 100px;
    height: 100px;
    background: white;
    color: black;
    z-index: 4;
    font-size: 64px;
    text-align: center;
}

#overlay {
    position: absolute;
    z-index: 3;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: black, $alpha: 0.5);
}
