*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  height: auto;
}

@font-face {
  font-family: "Anek";
  src: url("../../public/fonts/Anek_Gurmukhi/AnekGurmukhi-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Fraunces";
  src: url("../../public/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}
.uppercase {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.subtitle {
  font-family: "Anek";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

.text {
  font-family: "Anek";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.emphasis {
  background-color: #f6c86c;
  color: #111111;
}

.grid {
  display: grid;
}

.grid--2-2 {
  grid-template-columns: repeat(2, 1fr);
}

nav {
  background: #ff7af2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 2rem;
  border-bottom: 3px solid #000;
}

.site-name {
  font-family: "Fraunces";
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  font-variation-settings: "SOFT" 0, "WONK" 1, "wght" 300;
}

.nav-button {
  font-family: "Anek";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  font-stretch: 125;
  text-decoration: none;
}
.nav-button:hover {
  text-shadow: 0 0 10px #ebadf5;
  transform: scale(1.1);
}

.div-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.f-w {
  width: 100%;
}

.shadow {
  box-shadow: 4px 7px 0px #000;
}

.card {
  background: #71d4ff;
  box-shadow: 4px 7px 0px #000;
  border: 3px solid #000;
  box-shadow: 4px 7px 0px #000000;
  position: relative;
  flex-grow: 1;
  flex-basis: 15vw;
  flex-shrink: 1;
  aspect-ratio: 1;
  max-width: 15vw;
}
.card--top::after {
  content: attr(data-title);
  position: absolute;
  top: -50px;
  left: -3px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anek";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 94%;
  line-height: inherit;
  height: 50px;
  background: #ebadf5;
  border: 3px solid #000;
  box-shadow: 4px 7px 0px #000000;
  z-index: -1;
}

.button {
  background: transparent;
  display: block;
  overflow: hidden;
  box-shadow: 4px 7px 0px #000;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #71d4ff;
  opacity: 1;
  z-index: -1;
}
.button::after {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  background: #9686fd;
  width: calc(100% + 2rem);
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  border-radius: 50%;
  z-index: -1;
}
.button:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.button--pink::before {
  background: #ebadf5;
}
.button--center {
  margin-inline: auto;
}
.button--green::before {
  background: #b7fbac;
}
.button--no-hover:hover::after {
  opacity: 0;
}

.github {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  z-index: 0;
  padding: 0.5rem 2rem;
}
.github img {
  max-height: 100%;
}

.skills {
  margin-top: 20vh;
  background: #fff;
  border-top: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
  position: relative;
  z-index: 0;
}
.skills__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  gap: 5vw;
  padding: 3rem;
}

.hero {
  font-size: 60vw;
  height: 92vh;
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  position: relative;
  overflow: hidden;
}
.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .hero__header {
    justify-content: flex-start;
    margin-top: 10vh;
  }
}
.hero__main-title {
  font-family: "Anek";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(3rem, 6vw, 100px);
  line-height: 0.8em;
  letter-spacing: -0.015em;
  color: #000000;
  font-stretch: 125;
  z-index: 1;
}
.hero__picture {
  position: absolute;
  right: -200px;
  top: -100px;
  transform: scale(0.8);
  aspect-ratio: 1;
  z-index: 0;
}
@media screen and (max-width: 1550px) {
  .hero__picture {
    right: -250px;
    transform: scale(0.6);
  }
}
@media screen and (max-width: 700px) {
  .hero__picture {
    right: -80px;
    top: 5vh;
    transform: scale(0.8);
  }
}

.projects {
  background: #fff;
  border-top: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
}
.projects div {
  border-style: solid;
  border-color: #000;
}
.projects div:nth-child(odd) {
  border-width: 3px 3px 3px 0;
}
.projects div:nth-child(even) {
  border-width: 3px 0 3px 3px;
}
.projects__image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.projects__image:nth-child(odd) {
  background: #9aedc0;
}
.projects__image:nth-child(even) {
  background: #ebadf5;
}
.projects__image img {
  max-width: inherit;
}
.projects__text {
  background: #fff;
  font-size: 1.5rem;
  padding: 2rem;
  position: relative;
}
.projects__text p {
  margin-bottom: 0.4rem;
}
.projects__text p:first-of-type {
  margin-top: 1rem;
}

.contact {
  display: grid;
  min-height: 50vh;
  margin-top: 10vh;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
.contact ul {
  z-index: 1;
  position: relative;
}
.contact__links {
  border: 2px solid #000;
  background-color: #f9669a;
  width: 100%;
}
.contact__links > img {
  width: 100%;
  border-bottom: 2px solid #000;
}
.contact__links > div > h1 {
  position: relative;
  transform-origin: left top;
  display: inline-block;
}
.contact__links a {
  line-height: initial;
}
.contact__mail {
  border-top: 2px solid #000;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}
.contact__mean {
  grid-area: mean;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

body {
  background-color: #f6c86c;
}

#size {
  position: absolute;
  top: 0;
  left: 0;
}

.mt-5 {
  margin-top: 5vh;
}/*# sourceMappingURL=main.css.map */