*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

@font-face {
  font-family: "Anek";
  src: url("../../public/fonts/Anek_Gurmukhi/AnekGurmukhi-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces";
  src: url("../../public/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}

.uppercase {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.subtitle {
  font-family: "Anek";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 94%;
}

.grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
}

.grid--2-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

nav {
  background: #ff7af2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding: 0 2rem;
  border-bottom: 3px solid #000;
}

.site-name {
  font-family: "Fraunces";
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  font-variation-settings: "SOFT" 0, "WONK" 1, "wght" 300;
}

.nav-button {
  font-family: "Anek";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  font-stretch: 125;
  text-decoration: none;
}

.nav-button:hover {
  text-shadow: 0 0 10px #ebadf5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.div-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.hero {
  font-size: 60vw;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 5vw;
  position: relative;
  overflow: hidden;
}

.hero__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .hero__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 10vh;
  }
}

.hero__main-title {
  font-family: "Anek";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(3rem, 6vw, 100px);
  line-height: 0.8em;
  letter-spacing: -0.015em;
  color: #000000;
  font-stretch: 125;
  z-index: 1;
}

.hero__picture {
  position: absolute;
  right: -200px;
  top: -100px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  aspect-ratio: 1;
  z-index: 0;
}

@media screen and (max-width: 1550px) {
  .hero__picture {
    right: -250px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media screen and (max-width: 700px) {
  .hero__picture {
    right: -80px;
    top: 5vh;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.skills {
  margin-top: 20vh;
  background: #fff;
  border-top: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5vh;
  position: relative;
  z-index: 0;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  gap: 5vw;
  padding: 3rem;
}

.f-w {
  width: 100%;
}

.projects {
  background: #fff;
  border-top: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5vh;
}

.projects div {
  border-style: solid;
  border-color: #000;
}

.projects div:nth-child(odd) {
  border-width: 3px 3px 3px 0;
}

.projects div:nth-child(even) {
  border-width: 3px 0 3px 3px;
}

.projects__image {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.projects__image:nth-child(odd) {
  background: #9aedc0;
}

.projects__image:nth-child(even) {
  background: #ebadf5;
}

.projects__image img {
  max-width: inherit;
}

.projects__text {
  background: #fff;
}

.shadow {
  -webkit-box-shadow: 4px 7px 0px #000;
          box-shadow: 4px 7px 0px #000;
}

.card {
  background: #71d4ff;
  -webkit-box-shadow: 4px 7px 0px #000;
          box-shadow: 4px 7px 0px #000;
  border: 3px solid #000;
  -webkit-box-shadow: 4px 7px 0px #000000;
          box-shadow: 4px 7px 0px #000000;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 15vw;
      flex-basis: 15vw;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  aspect-ratio: 1;
  max-width: 15vw;
}

.card--top::after {
  content: attr(data-title);
  position: absolute;
  top: -50px;
  left: -3px;
  right: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Anek";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 94%;
  line-height: inherit;
  height: 50px;
  background: #ebadf5;
  border: 3px solid #000;
  -webkit-box-shadow: 4px 7px 0px #000000;
          box-shadow: 4px 7px 0px #000000;
  z-index: -1;
}

.button {
  background: transparent;
  overflow: hidden;
  -webkit-box-shadow: 4px 7px 0px #000;
          box-shadow: 4px 7px 0px #000;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #71d4ff;
  opacity: 1;
  z-index: -1;
}

.button::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  background: #9686fd;
  width: calc(100% + 2rem);
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  border-radius: 50%;
  z-index: -1;
}

.button:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body {
  background-color: #f6c86c;
}

#size {
  position: absolute;
  top: 0;
  left: 0;
}

.mt-5 {
  margin-top: 5vh;
}
/*# sourceMappingURL=main.css.map */