* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-size: 20px;
	background-color: grey;
	padding: 1rem;
	opacity: 0.7;
}

img {
	margin-top: 1rem;
	box-shadow: 5px 5px black;
	width: 50%;
}

strong {
	color: red;
}

h1 {
	margin-top: 10vh;
	text-align: center;
	border: 2px black solid;
}

body {
	background: linear-gradient(#433F49, #727075);
	color: #D8D8D9;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

section {
	flex-grow: 1;
	margin: 7rem 2rem 0 2rem;
	flex-basis: 200px;
	flex-shrink: 1;
}

#contenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}

.back {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: red;
	padding: 1rem;
	text-decoration: none;
	color: black;
}

.titre_principal {
	text-align: center;
}

.image {
	background-color: rgb(146, 146, 146);
	color: black;
	border-radius: 10px;
	width: 20vw;
	padding: 0.5rem;
}

@media (max-width:700px) {
	h1 {
		white-space: nowrap;
		width: 100vw;
	}
	#contenu {
		display: flex;
		flex-direction: column !important;
	}
	section {
		margin: 2rem 0 0 0;
		display: block;
		width: 100%;
	}
	.image {
		width: 70vw;
	}
}