p {
	font-size: 20px;
	background-color: grey;
	padding: 1rem;
	opacity: 0.7;
}

img {
	margin-top: 1rem;
	box-shadow: 5px 5px black;
	width: 50%;
}

strong {
	color: red;
}

h1 {
	text-align: center;
	border: 2px black solid;
}

body {
	background: linear-gradient(#433F49, #727075);
	color: #D8D8D9;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

section {
	width: 30%;
	margin-right: 2%;
	flex-basis: 200px;
	flex-shrink: 1;
}

#contenu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}

.back {
	position: relative;
	top: 10px;
	right: 10px;
	background-color: red;
	padding: 1rem;
	text-decoration: none;
	color: black;
}

.titre_principal {
	text-align: center;
}

.image {
	background-color: rgb(146, 146, 146);
	color: black;
	border-radius: 10px;
	width: 20vw;
	padding: 0.5rem;
}