@font-face {
	font-family: "Anek";
	src: url("../../public/fonts/Anek_Gurmukhi/AnekGurmukhi-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Fraunces";
	src: url("../../public/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	src: url("../../public/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

.uppercase {
	text-transform: uppercase;
}

.t-center {
	text-align: center;
}

.subtitle {
	font-family: "Anek";
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
}

.text {
	font-family: "Anek";
	font-style: normal;
	font-weight: normal;
	font-size: clamp(18px, 2vw, 24px);
}

.label {
	font-family: 'Poppins';
	font-size: 20px;
}

.emphasis {
	background-color: $orange;
	color: $light-dark;
}