@font-face {
	font-family: "Anek";
	src: url("../../public/fonts/Anek_Gurmukhi/AnekGurmukhi-VariableFont_wdth,wght.ttf")
		format("truetype");
}
@font-face {
	font-family: "Fraunces";
	src: url("../../public/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
		format("truetype");
}

.uppercase {
	text-transform: uppercase;
}

.t-center {
	text-align: center;
}

.subtitle {
	font-family: "Anek";
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
}

.text {
	font-family: "Anek";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

.emphasis {
	background-color: $orange;
	color: $light-dark;
}
