@mixin container-card($justify) {
    position: relative;
    display: flex;
    justify-content: $justify;
    align-items: center;
    margin: 5rem;
    background: linear-gradient(to bottom right, $nav-button-color, $secondary-color);
    border-radius: 2rem;
    padding: 2rem 1rem;
    background-clip: padding-box;
    border: solid 1px transparent;
    box-sizing: border-box;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -5;
        background: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
        margin: -2px;
        border-radius: 2rem;
    }
}
