.hero {
	font-size: 100px;
	height: 92vh;
	display: flex;
	flex-direction: row;
	margin-left: 5vw;
}

.hero-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -10%;
}

.main-title {
	font-family: "Anek";
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	line-height: 0.8em;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: #000000;
	font-stretch: 125;
}
