* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(88, 57, 34);
    flex-grow: 1;
    min-height: 8vh;
    align-items: center;
    font-family: 'Alata', sans-serif;
}

.onglets {
    display: flex;
    width: 60vw;
    justify-content: space-around;
    list-style: none;
    letter-spacing: 3px;
}

.onglets a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700px;
}

.titre {
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .onglets {
        width: 60vw;
    }
}

@media screen and (max-width: 728px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        cursor: pointer;
        display: block;
    }
    .onglets {
        background-color: rgb(88, 57, 34);
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .onglets li {
        opacity: 0;
    }
}

.nav_active {
    transform: translateX(0%);
}

@keyframes nav_fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

footer {
    min-height: 5vh;
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(122, 80, 47);
    font-family: 'Alata', sans-serif;
    padding: 7px;
}

.img_contact {
    margin: 10px;
    height: 2em;
}

body {
    min-height: 100%;
    position: relative;
}

/* Slideshow container */

.slideshow-container {
    z-index: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-bottom: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.container_slideshow {
    background-color: black;
}

ul {
    z-index: 1;
}

.login {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.div_login {
    height: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 7px;
}

input {
    width: 200px;
    background-color: brown;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

#presentation_login {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color: rgb(126, 32, 32);
    width: 500px;
}

#page_login {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#presentation_login p {
    margin-top: 70px;
}

p {
    text-align: center;
}

#presentation_login, .login {
    height: 92vh;
}

#photo_profil {
    width: 50%;
    height: auto;
}

#presentation_profil {
    background-color: rebeccapurple;
    width: 100%;
    height: auto;
}

#presentation_text {
    position: relative;
    width: 100%;
    height: auto;
}

#back {
    background-color: red;
    padding: 15%;
}