@forward 'abstracts/variables';

@media screen and (max-width: 700px) {
    * {
        cursor: default;
    }
    .cursor {
        display: none;
    }
    html,
    body {
        overflow-x: hidden;
    }
    .div-nav {
        display: none;
        a {
            flex-basis: 0;
            width: 100%;
            display: block;
            button {
                outline: 0;
                color: $bg-color;
                background-color: #313153;
                width: 80%;
                margin: 1rem;
            }
        }
    }
    nav {
        .hamburger {
            display: block;
        }

        h1 {
            margin: 0;
        }
    }
    .unhide {
        background: #313153;
        z-index: 3;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 109px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        z-index: 2 !important;
        animation: move 1s ease;
        text-align: center;
    }
    @keyframes move {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    .li-about {
        flex-direction: column;
        border-bottom: 1px solid $accentuate-color;
        padding: 1.5rem 0;
        margin-right: 1rem;
        &:last-child {
            border-bottom: none;
        }
    }
    .projet {
        grid-template-columns: repeat(1, auto) !important;
    }
    .card {
        margin: 2rem 10% !important;
    }
    #svg_1,
    #svg_2 {
        display: none;
    }
    section {
        transform: translate(0);
        margin-left: 10px;
        width: auto;
        padding: 0;
        margin-bottom: 2rem;
    }
    div img:not(.projet img) {
        max-width: 30px;
        height: auto;
    }
    .titre_about {
        line-height: 30px;
        margin-bottom: 2rem;
    }
    .action-button {
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
    }
    .home-container {
        padding-top: 6rem;
        h1 {
            font-size: $font-size - 20px;
        }
        h3 {
            font-size: $font-size / 4;
        }
    }

    .arrow-right {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $accentuate-color;
    }
    button.projet {
        font-size: $font-size / 5;
    }
    main {
        display: block;
    }
}
