.contact {
	display: grid;
	min-height: 50vh;
	margin-top: 10vh;
	position: relative;
	grid-template-columns: repeat(2, 1fr);

	@include breakpoint() {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	ul {
		z-index: 1;
		position: relative;
	}

	&__links {
		border: 2px solid #000;
		background-color: $dark-pink;
		width: 100%;

		>img {
			width: 100%;
			border-bottom: 2px solid #000;
		}

		>div:nth-child(1) {

			border-bottom: 2px solid #000;
			background: #fff;

			>h1 {
				position: relative;
				transform-origin: left top;
				line-height: inherit;
				display: inline-block;
			}
		}

		a {
			line-height: initial;
		}
	}

	&__mail {
		border-top: 2px solid #000;
		font-size: 1.5rem;
		font-weight: bold;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 10vh;
		padding-top: 5vh;

		h3 {
			margin-bottom: 2rem;
		}

		button {
			align-self: flex-start;
			margin: 0;
		}

		.form__group {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			margin-bottom: 1rem;

			input,
			textarea {
				width: 100%;
				border: 1px solid #000;
				background: $dark-purple;
				color: lighten($color: $dark-purple, $amount: 40);
				font-family: "Anek";
				font-size: 18px;
				padding: 0.6rem;


				&::placeholder {
					color: lighten($color: $dark-purple, $amount: 10);
				}
			}
		}
	}

	&__mean {
		grid-area: mean;
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;

		ul {
			list-style: none;
		}

		a {
			width: 100%;
		}
	}
}