.hero {
	font-size: 60vw;
	height: 92vh;
	display: flex;
	flex-direction: row;
	padding-left: 5vw;
	position: relative;
	overflow: hidden;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -10%;
		position: relative;
		z-index: 1;

		@include breakpoint {
			justify-content: flex-start;
			margin-top: 10vh;
		}
	}

	&__main-title {
		font-family: "Anek";
		font-style: normal;
		font-weight: 700;
		font-size: clamp(2rem, 6vw, 100px);
		line-height: 0.8em;
		letter-spacing: -0.015em;
		color: #000000;
		font-stretch: 125;
		z-index: 1;
	}

	&__picture {
		position: absolute;
		right: -200px;
		top: -100px;
		transform: scale(0.8);
		aspect-ratio: 1;
		z-index: 0;

		@include breakpoint(1550px) {
			right: -250px;
			transform: scale(0.6);
		}

		@include breakpoint {
			right: -80px;
			top: 5vh;
			transform: scale(0.8);
		}
	}
}