.projects {
	background: #fff;
	border-top: 2px solid #000;
	justify-content: center;
	padding-top: 5vh;

	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@include breakpoint() {
		.container {
			grid-template-columns: none;

			&:nth-child(even) {
				display: flex;
				flex-direction: column-reverse;
				border-top: 2px solid #000;
				border-bottom: 2px solid #000;
			}

			&:first-child {
				border-top: 2px solid #000;
			}
		}

	}

	>div {

		border-style: solid;
		border-color: #000;

		@include breakpoint() {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(auto, 1fr);
		}

		&:nth-child(odd) {
			border-width: 3px 3px 3px 0;
		}

		&:nth-child(even) {
			border-width: 3px 0 3px 3px;
		}

		@include breakpoint() {

			&:nth-child(odd),
			&:nth-child(even) {
				border-width: 0;
			}
		}
	}

	&__image {
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;

		&:nth-child(odd) {
			background: $light-green;
		}

		&:nth-child(even) {
			background: $pink;
		}


		img {
			max-width: inherit;
		}
	}

	&__text {
		background: #fff;
		// font-size: 1.5rem;
		padding: 2rem;
		position: relative;

		p {
			margin-bottom: 0.4rem;

			&:first-of-type {
				margin-top: 1rem;
			}
		}
	}
}