$bg-color: #d1d1d1;
$secondary-color: #97d8c4;
$nav-button-color: #6b9ac4;
$accentuate-color: #4059ad;
$text-color: #f4b942;
$font-size-h1: 64px;
$font-size-h2: 32px;
$font-size-h3: 26px;
$font-size-p: 18px;
