@forward 'abstracts/variables';
.about_intro {
  margin: 5rem 0 10rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about_intro picture {
  z-index: 1;
}

.about_intro picture img {
  max-width: none;
  z-index: 1;
  height: 60vh;
  width: auto;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.199);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.199);
  border-right: #f4b942 10px solid;
}

.about_intro section.about {
  max-width: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  position: relative;
}

.about_intro section.about h1.about__title {
  font-weight: 600;
  -webkit-text-decoration: underline 4px #4059ad;
          text-decoration: underline 4px #4059ad;
  font-size: 64px;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
}

.about_intro section.about .about__description {
  font-size: 18px;
  font-weight: 300;
  max-width: 20vw;
  margin: 0;
  padding: 0;
}

section.competence {
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

section.competence h2 {
  text-align: center;
  -webkit-text-decoration: underline 4px #4059ad;
          text-decoration: underline 4px #4059ad;
  font-size: 32px;
  margin: 0;
  padding: 1rem;
}

section.competence .container_competence {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#6b9ac4), to(#97d8c4));
  background: linear-gradient(to bottom right, #6b9ac4, #97d8c4);
  border-radius: 2rem;
  padding: 2rem 1rem;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.competence .container_competence::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  margin: -2px;
  border-radius: 2rem;
}

section.competence .container_competence h3 {
  line-height: 64px;
  -webkit-text-decoration: underline 4px #4059ad;
          text-decoration: underline 4px #4059ad;
  font-size: 36px;
  margin: 3rem;
  padding: 0;
}

section.competence .container_competence img {
  max-width: 40vh;
  height: 20vh;
}

@forward "abstracts/variables";
main {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-image: url("../ressources/bg-home.jpg");
}

.action-button {
  margin-top: 1rem;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.action-button a {
  text-decoration: none;
}

button.projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  background-color: #f4b942;
  border: none;
  -webkit-box-shadow: 0px 20px 20px rgba(44, 44, 44, 0.24);
          box-shadow: 0px 20px 20px rgba(44, 44, 44, 0.24);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: auto;
}

button.projet:hover {
  position: relative;
  border-radius: 50px;
}

.arrow-right {
  margin-left: 2rem;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #4059ad;
}

.bubble {
  z-index: 5;
  display: none;
  width: 1px;
  height: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #757575;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.home-container {
  color: white;
  position: relative;
  width: 100%;
}

.home-container h1 {
  font-size: 64px;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.home-container h1 .bold {
  position: relative;
  color: #f4b942;
}

.home-container h1 .bold::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #4059ad;
  -webkit-animation: portfolio 1s ease-in-out forwards 0.5s;
          animation: portfolio 1s ease-in-out forwards 0.5s;
}

.home-container h1,
.home-container h3 {
  text-align: center;
}

.home-container h3 {
  font-size: 26px;
}

@-webkit-keyframes portfolio {
  50% {
    width: 100%;
  }
  100% {
    right: 0px;
    left: auto;
    width: 0px;
  }
}

@keyframes portfolio {
  50% {
    width: 100%;
  }
  100% {
    right: 0px;
    left: auto;
    width: 0px;
  }
}

@forward 'abstracts/variables';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans";
  cursor: none;
}

html {
  background-color: #d1d1d1;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  cursor: none;
}

.cursor {
  cursor: none;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: #000 1px solid;
  border-radius: 50%;
  z-index: 5;
  pointer-events: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.cursor.white-cursor {
  background-color: rgba(240, 255, 255, 0.527);
}

.cursor.down {
  -webkit-animation: down 500ms ease forwards;
          animation: down 500ms ease forwards;
}

.cursor.up {
  -webkit-animation: up 300ms ease forwards;
          animation: up 300ms ease forwards;
}

@-webkit-keyframes down {
  to {
    width: 30px;
    height: 30px;
  }
}

@keyframes down {
  to {
    width: 30px;
    height: 30px;
  }
}

@-webkit-keyframes up {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 40px;
    height: 40px;
  }
}

@keyframes up {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 40px;
    height: 40px;
  }
}

nav {
  position: relative;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d1d1d1;
  -webkit-box-shadow: 0 0 10px 4px #4059ad;
          box-shadow: 0 0 10px 4px #4059ad;
}

nav h1 {
  font-size: 64px;
  margin-left: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav h1 a {
  font-size: 18px;
}

nav .hamburger {
  display: none;
}

nav .line {
  background-color: #000;
  margin-bottom: 7px;
  min-height: 4px;
  width: 8vw;
}

.hovered {
  position: relative;
}

.hovered::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4059ad;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0;
}

.hovered:hover::after {
  width: 100%;
  left: 0;
}

.div-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-nav button {
  padding: 0.5rem;
  font-size: 18px;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  border: none;
  color: black;
  background-image: linear-gradient(120deg, #f4b942 0%, #e7bd6a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4rem;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
  background-color: transparent;
  outline: none;
}

.div-nav button:hover {
  cursor: none;
  background-size: 100% 88%;
}

#title {
  text-decoration: none;
  color: #f4b942;
  font-family: "Newsreader", serif;
  font-size: 64px;
}

section {
  line-height: 30px;
  z-index: 0;
  margin: 5% auto 0 10%;
  max-width: 800px;
  width: 50vw;
  padding: 2rem;
  padding-top: 0;
}

section:last-child {
  margin-bottom: 10%;
}

section p {
  font-size: 18px;
  line-height: 30px;
}

section h2 {
  font-size: 32px;
  line-height: 60px;
}

@forward 'abstracts/variables';
.card {
  padding: 1rem;
  margin: 2rem 3rem;
  background-color: #6b9ac4;
  border-radius: 10px;
  -webkit-box-shadow: #4059ad 5px 10px 3px;
          box-shadow: #4059ad 5px 10px 3px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card img {
  width: 100%;
  margin-bottom: 3rem;
  max-width: 340px;
  max-height: 340px;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .description {
  padding: 1rem;
}

.card .mark {
  color: green;
}

a {
  color: black;
  text-decoration: none;
  display: contents;
}

.projet {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

section {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.h3_projets {
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin: 1rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.h3--petit {
  font-size: 21px;
  margin-bottom: 1rem;
}

@forward 'abstracts/variables';
.contact__links {
  width: 100%;
  height: 100%;
  margin-left: 30vw;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.contact__links .container_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.contact__links .container_contact .svg_logo {
  min-width: 10vh;
  width: 10vh;
}

h1.contact__title {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 3rem;
}

@forward 'abstracts/variables';
.container_article {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#6b9ac4), to(#97d8c4));
  background: linear-gradient(to bottom right, #6b9ac4, #97d8c4);
  border-radius: 2rem;
  padding: 2rem 1rem;
  background-clip: padding-box;
  border: solid 1px transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10vh 10vw;
  padding: auto 10vw;
}

.container_article::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  margin: -2px;
  border-radius: 2rem;
}

.container_article h3 {
  font-size: 26px;
  margin: auto 5vw;
  margin-bottom: 26px;
  margin-top: 2rem;
}

.container_article h2 {
  font-size: 32px;
  margin: auto 5vw;
  margin-bottom: 32px;
  position: relative;
}

.container_article h2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
}

.container_article p {
  font-size: 18px;
  margin-bottom: 18px;
  margin: auto 10vw;
}

span.code {
  background: #626262;
  color: #acacac;
}

.tuto_contenu {
  height: 100%;
  margin: 2rem 10vw;
  white-space: pre-wrap;
}

@forward 'abstracts/variables';
@media screen and (max-width: 700px) {
  * {
    cursor: default;
  }
  .cursor {
    display: none;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .div-nav {
    display: none;
  }
  .div-nav a {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
    display: block;
  }
  .div-nav a button {
    outline: 0;
    color: #d1d1d1;
    background-color: #313153;
    width: 80%;
    margin: 1rem;
  }
  nav .hamburger {
    display: block;
  }
  nav h1 {
    margin: 0;
  }
  .unhide {
    background: #313153;
    z-index: 3;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 109px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-animation: move 1s ease;
            animation: move 1s ease;
    text-align: center;
  }
  @-webkit-keyframes move {
    from {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes move {
    from {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  .projet {
    -ms-grid-columns: (auto)[1] !important;
        grid-template-columns: repeat(1, auto) !important;
  }
  .card {
    margin: 2rem 10% !important;
  }
  section {
    -webkit-transform: translate(0);
            transform: translate(0);
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    padding: 0;
    margin-bottom: 2rem;
  }
  section img {
    max-width: none;
    height: auto;
    margin-bottom: 1rem;
  }
  div > img:not(.projet img) {
    max-width: 30px;
    height: auto;
  }
  .titre_about {
    line-height: 30px;
    margin: auto 0 2rem 0;
  }
  .action-button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem;
  }
  .home-container {
    padding-top: 6rem;
  }
  .home-container h1 {
    font-size: 44px;
  }
  .home-container h3 {
    font-size: 16px;
  }
  .arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #4059ad;
  }
  button.projet {
    font-size: 8px;
  }
  main {
    display: block;
  }
  .contact__links {
    margin-left: 10px;
  }
  h2.contact__title {
    width: 100%;
    font-size: 22px;
    white-space: nowrap;
  }
  #title {
    font-size: 54px;
  }
  .about_intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 1rem 0px 0 10px;
  }
  .about_intro picture {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 1rem;
  }
  .about_intro section.about {
    width: 100%;
  }
  .about_intro section.about h2.about__title {
    font-size: 22px;
  }
  .about_intro section.about p.about__description {
    max-width: none;
    font-size: 18px;
  }
  section.competence h3 {
    font-size: 16px;
  }
  section.competence .wrapper .container_competence {
    margin: 0 10px 1rem 10px;
    padding: 10px;
  }
  section.competence .wrapper .container_competence img {
    max-width: 4rem;
    max-height: 4rem;
    height: auto;
  }
  section.competence .wrapper .container_competence p {
    font-size: 8px;
  }
  a.container_article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */