@forward 'abstracts/variables';
.card {
  padding: 1rem;
  margin: 2rem 3rem;
  background-color: #292929;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.342);
          box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.342);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d1d1d1;
}

.card img {
  width: 100%;
  margin-bottom: 3rem;
  max-width: 340px;
  max-height: 340px;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .description {
  padding: 1rem;
}

.card .mark {
  color: green;
}

a {
  text-decoration: none;
  display: contents;
}

.projet {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

section.explication {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.h3_projets {
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin: 1rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.h3--petit {
  font-size: 21px;
  margin-bottom: 1rem;
}

@forward 'abstracts/variables';
.contact__links {
  width: 100%;
  height: 100%;
  margin-left: 30vw;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.contact__links .container_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.contact__links .container_contact .svg_logo {
  min-width: 10vh;
  width: 10vh;
}

h1.contact__title {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 3rem;
}

@forward 'abstracts/variables';
.container_article {
  display: block;
  margin: 10vh 10vw;
  padding: 1rem;
  background-color: #292929;
  color: #d1d1d1;
  -webkit-box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.342);
          box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.342);
}

.container_article h3 {
  font-size: 26px;
  margin-top: 0;
}

.container_article h2 {
  font-size: 32px;
  margin: 0 0 2rem 0;
  margin-bottom: 32px;
}

.container_article p {
  font-size: 18px;
  margin: 0 0 1rem 0;
}

.tuto_contenu {
  margin: 2rem 10vw;
  white-space: pre-wrap;
  position: relative;
}

.tuto_contenu img,
.tuto_contenu video {
  max-width: 100%;
  min-width: 100%;
}

.tuto_contenu img.clicked-img,
.tuto_contenu video.clicked-img {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.tuto_contenu span.code {
  background: rgba(46, 46, 46, 0.616);
  padding: 0.2rem;
  color: white;
  border-radius: 4px;
}

.tuto_contenu p {
  line-height: 1.8rem;
}

.tuto_contenu h1 {
  margin: 1rem 0;
}

.tuto_contenu .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6161fb;
  padding: 3rem;
  margin: 2rem;
  max-width: 50vw;
}

.tuto_contenu .question .question-img {
  display: contents;
}

.tuto_contenu .question .question-img img {
  min-width: 50px;
  width: 20vw;
  max-width: 80px;
  margin-right: 3rem;
}

#exit {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  width: 100px;
  height: 100px;
  background: white;
  color: black;
  z-index: 4;
  font-size: 64px;
  text-align: center;
}

#overlay {
  position: absolute;
  z-index: 3;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

@forward 'abstracts/variables';
html,
body {
  height: auto;
}

.about_intro {
  margin: 5rem 0 10rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about_intro picture {
  z-index: 1;
}

.about_intro picture img {
  max-width: none;
  z-index: 1;
  max-height: 60vh;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.199);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.199);
  border-right: #f4b942 10px solid;
}

.about_intro section.about {
  max-width: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  position: relative;
}

.about_intro section.about h1.about__title {
  font-weight: 600;
  -webkit-text-decoration: underline 4px #4059ad;
          text-decoration: underline 4px #4059ad;
  font-size: 64px;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
}

.about_intro section.about .about__description {
  font-size: 18px;
  font-weight: 300;
  max-width: 20vw;
  margin: 0;
  padding: 0;
}

.h2__appris {
  text-align: center;
  -webkit-text-decoration: underline 4px #4059ad;
          text-decoration: underline 4px #4059ad;
  font-size: 32px;
  margin: 0;
  padding: 1rem;
}

section.competence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 0 auto 1vh auto;
  -webkit-transform: translate(0);
          transform: translate(0);
  width: 90%;
  overflow-x: hidden;
  max-width: none;
  overflow: hidden;
  -webkit-box-shadow: inset 0px -35px 15px -30px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px -35px 15px -30px rgba(0, 0, 0, 0.7);
}

section.competence .container_competence {
  -webkit-box-shadow: 0px 13px 20px -2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 13px 20px -2px rgba(0, 0, 0, 0.6);
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  width: 100%;
  min-height: 30vh;
  height: 100%;
  -webkit-transition: -webkit-transform 600ms ease-out, -webkit-box-shadow 200ms ease-out;
  transition: -webkit-transform 600ms ease-out, -webkit-box-shadow 200ms ease-out;
  transition: transform 600ms ease-out, box-shadow 200ms ease-out;
  transition: transform 600ms ease-out, box-shadow 200ms ease-out, -webkit-transform 600ms ease-out, -webkit-box-shadow 200ms ease-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #292929;
  color: #d1d1d1;
}

section.competence .container_competence h3 {
  line-height: 64px;
  -webkit-text-decoration: underline 4px #f4b942;
          text-decoration: underline 4px #f4b942;
  font-size: 36px;
  padding: 0;
  text-align: center;
}

section.competence .container_competence img {
  max-width: 80%;
  height: auto;
  max-height: 15vh;
}

section.competence .container_competence.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section.competence .container_competence:hover {
  -webkit-box-shadow: 0px 13px 20px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 13px 20px 4px rgba(0, 0, 0, 0.6);
}

button#open {
  font-size: 32px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 40vw;
  height: 8vh;
  background: #f4b942;
  color: #4059ad;
  border: none;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  -webkit-box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.31);
}

button#open:hover {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.31);
  color: #5c78d4;
}

.wrapper {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  overflow-x: visible;
  height: 40vh;
  padding: 2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.wrapper .front {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .back {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 1rem;
}

.wrapper .back em {
  color: #f4b942;
  font-weight: bold;
  font-style: normal;
}

.wrapper .face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#wave_about {
  display: block;
}

section.history {
  background: #6b9ac4;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.history picture {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

section.history picture:nth-child(1) {
  margin: 0 auto 0 30vw;
  max-width: 477px;
}

section.history picture:nth-child(2) {
  margin: 0 auto 0 40vw;
  max-width: 698px;
}

section.history picture:nth-child(3) {
  margin: 0 45vw 0 auto;
  max-width: 714px;
}

section.history .svg-history {
  cursor: none;
  pointer-events: none;
}

@forward "abstracts/variables";
main {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-image: url("../ressources/bg-home.jpg");
  -webkit-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.action-button {
  margin-top: 1rem;
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

button.projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 0.5rem;
  background-color: #f4b942;
  border: none;
  -webkit-box-shadow: 0px 20px 20px rgba(44, 44, 44, 0.24);
          box-shadow: 0px 20px 20px rgba(44, 44, 44, 0.24);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

button.projet p {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.arrow-right {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin-left: 2rem;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #4059ad;
}

.bubble {
  z-index: 5;
  display: none;
  width: 1px;
  height: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #757575;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.home-container {
  color: white;
  position: relative;
}

.home-container h1 {
  font-size: 64px;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.home-container h1 .bold {
  position: relative;
  color: #f4b942;
}

.home-container h1 .bold::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #4059ad;
  -webkit-animation: portfolio 1s ease-in-out forwards 0.5s;
          animation: portfolio 1s ease-in-out forwards 0.5s;
}

.home-container h1,
.home-container h3 {
  text-align: left;
}

.home-container h3 {
  margin-bottom: 3rem;
  color: #d1d1d1;
  font-weight: 100;
  font-size: 26px;
}

@-webkit-keyframes portfolio {
  50% {
    width: 100%;
  }
  100% {
    right: 0px;
    left: auto;
    width: 0px;
  }
}

@keyframes portfolio {
  50% {
    width: 100%;
  }
  100% {
    right: 0px;
    left: auto;
    width: 0px;
  }
}

@forward 'abstracts/variables';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans";
  cursor: none;
}

html {
  background-color: #d1d1d1;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

html,
body {
  width: 100%;
  font-size: 18px;
  cursor: none;
}

.cursor {
  cursor: none;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: #000 1px solid;
  border-radius: 50%;
  z-index: 5;
  pointer-events: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.cursor.white-cursor {
  background-color: rgba(240, 255, 255, 0.527);
}

.cursor.down {
  -webkit-animation: down 500ms ease forwards;
          animation: down 500ms ease forwards;
}

.cursor.up {
  -webkit-animation: up 300ms ease forwards;
          animation: up 300ms ease forwards;
}

@-webkit-keyframes down {
  to {
    width: 30px;
    height: 30px;
  }
}

@keyframes down {
  to {
    width: 30px;
    height: 30px;
  }
}

@-webkit-keyframes up {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 40px;
    height: 40px;
  }
}

@keyframes up {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 40px;
    height: 40px;
  }
}

nav {
  font-family: "Newsreader", serif;
  position: relative;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d1d1d1;
  min-height: 10vh;
}

nav .hamburger {
  display: none;
}

nav .line {
  background-color: #000;
  margin-bottom: 7px;
  min-height: 4px;
  width: 8vw;
}

.main-title {
  margin-left: 5vw;
}

.main-title #title {
  text-align: center;
  text-decoration: none;
  color: #f4b942;
  font-family: "Newsreader", serif;
  font-size: 42px;
}

.main-title.hovered {
  position: relative;
}

.main-title.hovered::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4059ad;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0;
}

.main-title.hovered:hover::after {
  width: 100%;
  left: 0;
}

.div-nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-nav button {
  font-family: "Newsreader", serif;
  padding: 0.5rem;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 100;
  text-decoration: none;
  border: none;
  color: black;
  background-image: linear-gradient(120deg, #f4b942 0%, #e7bd6a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4rem;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
  background-color: transparent;
  outline: none;
}

.div-nav button:hover {
  cursor: none;
  background-size: 100% 100%;
}

.div-nav button.current_location {
  cursor: none;
  background-size: 100% 100%;
  background-image: linear-gradient(120deg, #4059ad 0%, #6b9ac4 100%);
}

section {
  line-height: 30px;
  z-index: 0;
  margin: 5% auto 0 10%;
  max-width: 800px;
  width: 50vw;
  padding: 2rem;
  padding-top: 0;
}

section p {
  font-size: 18px;
  line-height: 30px;
}

section h2 {
  font-size: 32px;
  line-height: 60px;
}

@forward 'abstracts/variables';
@media screen and (max-width: 1300px) {
  #title,
  nav h1 {
    font-size: 55px;
  }
  .div-nav button {
    font-size: 16px;
    letter-spacing: 0.1rem;
  }
  .home-container {
    margin: 0 10vw;
    width: auto;
  }
  section.competence {
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  section.history picture:nth-child(1) {
    margin: 0 auto;
  }
  section.history picture:nth-child(2) {
    margin: 0 auto;
  }
  section.history picture:nth-child(3) {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  * {
    cursor: default;
  }
  .cursor {
    display: none;
  }
  html,
  body {
    overflow-x: hidden;
  }
  #index-html,
  #index-body {
    overflow-y: hidden;
  }
  .div-nav {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    background: #313153;
    z-index: 3;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  }
  .div-nav.show_nav {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: -webkit-transform 500ms ease-in;
    transition: -webkit-transform 500ms ease-in;
    transition: transform 500ms ease-in;
    transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
  }
  .div-nav a {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
    display: block;
  }
  .div-nav a button {
    outline: 0;
    color: #d1d1d1;
    background-color: #313153;
    width: 80%;
    margin: 1rem;
  }
  .div-nav a button:hover {
    background-size: 100% 0.4rem;
  }
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .hamburger {
    display: block;
  }
  nav h1 {
    margin: 0;
  }
  .projet {
    -ms-grid-columns: (auto)[1] !important;
        grid-template-columns: repeat(1, auto) !important;
  }
  .card {
    margin: 2rem 10% !important;
  }
  section {
    -webkit-transform: translate(0);
            transform: translate(0);
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    padding: 0;
    margin-bottom: 2rem;
  }
  section img {
    max-width: none;
    height: auto;
    margin-bottom: 1rem;
  }
  div > img:not(.projet img) {
    max-width: 30px;
    height: auto;
  }
  .titre_about {
    line-height: 30px;
    margin: auto 0 2rem 0;
  }
  .action-button {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .home-container {
    padding-top: 6rem;
    margin: 0 10vw;
    width: auto;
  }
  .home-container h1 {
    text-align: left;
    font-size: 44px;
  }
  .home-container h3 {
    text-align: left;
    font-size: 16px;
  }
  .arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #4059ad;
  }
  button.projet {
    font-size: 18px;
  }
  main {
    display: block;
  }
  .contact__links {
    margin-left: 10px;
  }
  h2.contact__title {
    width: 100%;
    font-size: 22px;
    white-space: nowrap;
  }
  #title {
    font-size: 54px;
  }
  .about_intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .about_intro picture {
    margin-bottom: 1rem;
    margin: 10vh 10vw;
  }
  .about_intro picture img {
    margin: 0;
  }
  .about_intro section.about {
    margin: 0 10vw;
  }
  .about_intro section.about h2.about__title {
    font-size: 22px;
  }
  .about_intro section.about p.about__description {
    max-width: none;
    font-size: 18px;
  }
  section.competence {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  section.competence .wrapper {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  section.competence .wrapper .container_competence img {
    max-height: 10vh;
    height: auto;
  }
  section.competence .wrapper .container_competence p {
    font-size: 13px;
  }
  section.competence h3 {
    font-size: 16px;
  }
  a.container_article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  a.container_article > h2 {
    font-size: 24px;
    margin: 0 0 2rem 0;
  }
  a.container_article > p {
    font-size: 16px;
    margin: 0 0 1rem 0;
  }
  a.container_article > h3 {
    font-size: 18px;
    margin: 0;
  }
  .tuto_contenu {
    font-size: 16px;
  }
  .tuto_contenu .question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: none;
    margin: 2rem 0;
    padding: 1rem;
  }
  .tuto_contenu .question .question-img img {
    margin: 0.5rem 0 2rem 0;
  }
  .h2__appris {
    text-align: left;
    padding: 0;
    margin: 5vh 10vw 2vh;
  }
  section.history picture {
    margin: 0 auto;
  }
  button#open {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */